In [ ]:
#Run this in the terminal instead of a Python IDE
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/00254/biodeg.csv

--2022-10-14 16:54:54--  http://archive.ics.uci.edu/ml/machine-learning-databases/00254/biodeg.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 155987 (152K) [application/x-httpd-php]
Saving to: ‘biodeg.csv’

biodeg.csv          100%[===================>] 152.33K   726KB/s    in 0.2s

2022-10-14 16:54:54 (726 KB/s) - ‘biodeg.csv’ saved [155987/155987]

In [ ]:
#import dataset of QSAR features and target value
import pandas as pd
df_bio=pd.read_csv("biodeg.csv", sep = ';', header=None)

In [ ]:
#Create column names list for dataset

col=[]
for schema in range(len(df_bio.columns)):
  col.append("Val_"+str(schema))

#print(col)

In [ ]:
# Assign from the list and Check columnn names
df_bio.columns = col
list(df_bio.columns)

['Val_0',
 'Val_1',
 'Val_2',
 'Val_3',
 'Val_4',
 'Val_5',
 'Val_6',
 'Val_7',
 'Val_8',
 'Val_9',
 'Val_10',
 'Val_11',
 'Val_12',
 'Val_13',
 'Val_14',
 'Val_15',
 'Val_16',
 'Val_17',
 'Val_18',
 'Val_19',
 'Val_20',
 'Val_21',
 'Val_22',
 'Val_23',
 'Val_24',
 'Val_25',
 'Val_26',
 'Val_27',
 'Val_28',
 'Val_29',
 'Val_30',
 'Val_31',
 'Val_32',
 'Val_33',
 'Val_34',
 'Val_35',
 'Val_36',
 'Val_37',
 'Val_38',
 'Val_39',
 'Val_40',
 'Val_41']

In [ ]:
#Assign values for target labels of features
d = {'RB': 1, 'NRB': 0}

df_bio['bio_class']=df_bio.iloc[:,-1].map(d)
#df_bio.drop(df_bio.columns[41],axis=1,inplace=True)

In [ ]:
df_bio.head()

,Val_0,Val_1,Val_2,Val_3,Val_4,Val_5,Val_6,Val_7,Val_8,Val_9,...,Val_33,Val_34,Val_35,Val_36,Val_37,Val_38,Val_39,Val_40,Val_41,bio_class
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,2.949,1.591,0,7.253,0,0,RB,1
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,3.315,1.967,0,7.257,0,0,RB,1
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,1,3.076,2.417,0,7.601,0,0,RB,1
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,1,3.046,5.000,0,6.690,0,0,RB,1
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,3.351,2.405,0,8.003,0,0,RB,1

In [ ]:
df_bio.to_csv('biodeg_qsar_transform.csv')